:root {
  --bg-navbar-blue: #5e81d1;
  --bg-comprados-orange: #f87500;
  --txt-black: #000;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-family: "Nunito", sans-serif;
}

.navbar {
  height: 150px;
  background-color: var(--bg-navbar-blue);
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__title {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.navbar__lists {
  display: flex;
}

.navbar__links {
  color: var(--txt-black);
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.navbar__links.active {
  font-weight: 600;
}

.comprados {
  height: 105px;
  padding: 0 1.5rem;
  background-color: var(--bg-comprados-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comprados h2 {
  font-weight: 100;
  font-size: 1.9rem;
  letter-spacing: 1px;
}

.fa-plus-circle {
  font-size: 2.8rem;
}
