:root {
  --bg-navbar-blue: #5e81d1;
  --bg-comprados-orange: #f87500;
  --bg-white: #fff;
  --txt-black: #000;
  --border-black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #ff8d27;
}

.navbar {
  height: 150px;
  background-color: var(--bg-navbar-blue);
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__title {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.navbar__lists {
  display: flex;
}

.navbar__links {
  color: var(--txt-black);
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.navbar__links.active {
  font-weight: 600;
}

.comprados {
  height: 105px;
  padding: 0 1.5rem;
  background-color: var(--bg-comprados-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comprados h2 {
  font-weight: 200;
  font-size: 1.9rem;
  letter-spacing: 1px;
}

.fa-plus-circle,
.fa-minus-circle {
  font-size: 2.8rem;
}

/* ITEMS LIST */
.items {
  padding: 2rem 1.5rem;
}

.article__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.item__name {
  display: flex;
  justify-content: flex-start;
}

.article__item-label {
  position: absolute;
  inset: 0;
}

.article__item-checkbox {
  width: 1.8rem;
  height: 1.8rem;
}

.article__item-span-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
}

.article__item-name {
  font-size: 1.8rem;
  font-weight: 200;
  padding-left: 1rem;
}

.article__item-checkbox:checked ~ span.article__item-name {
  text-decoration: line-through;
}

.item__price {
  display: flex;
  align-items: center;
}

.item__price-price {
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1.8rem;
  font-weight: 200;
  margin-right: 5rem;
}

.fa-times {
  font-size: 2.2rem;
  padding-top: 0.6rem;
  cursor: pointer;
}

/* FORM PAGE */
.form {
  padding: 2rem 1.5rem;
}

.form__title {
  font-weight: 400;
  font-size: 1.9rem;
  letter-spacing: 1px;
}

.form-article {
  margin-top: 1rem;
}

.form-article__name {
  width: 300px;
  display: flex;
  flex-flow: column;
}

.form-article__price {
  width: 300px;
  display: flex;
  flex-flow: column;
}

.form-article__label {
  font-weight: 200;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.form-article__name label,
.form-article__price label {
  padding-bottom: 15px;
}

.form-article__name:last-of-type,
.form-article__price:last-of-type {
  margin-top: 1.5rem;
}

[type="text"] {
  height: 3rem;
}

.form-article__button {
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin-top: 1.5rem;
  padding: 1rem 0.4rem;
  color: var(--bg-white);
  background-color: #5d82d1;
  border: 1px solid #5d82d1;
}

.container {
  display: flex;
  flex-direction: column;
}

.input-currency {
  width: 300px;
}

.container-currency {
  display: flex;
  width: 300px;
}

.form-article__currency {
  align-self: center;
  margin-left: 0.4rem;
  font-weight: 300;
  font-size: 1.2rem;
}
